<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Beers Check</title>
  </head>
  <body>
    <img src='images/beer.png' alt='' id='img' />

    <a href='/beers' class='line'><p class='button'>Check the beers!</p></a>

    <a href='/random-beer' class='line'><p class='button'>Check random beer!</p></a>
  </body>
</html>